<div class="rsvp">

  <div class="slice gray">
    <div class="narrow">
      <h1>Your RSVP for<br>Mike and Kate's wedding</h1>
    </div>
  </div>

  <div class="slice blue">
    <div class="narrow">
      <p>All of the details are at <a href="http://mikeandkate.wedding">http://mikeandkate.wedding</a>
      <p>We hope you can join us
    </div>
  </div>

  <div class="slice brown">
    <%= form_for @invitation, url: invitation_path(@invitation.access_code), html: { class: 'narrow' } do |f| %>
      <div class="guests">
        <% @invitation.guests.each do |guest| %>
          <div class="guest">
            <div class="guest-name">
              <input type="hidden" name="invitation[guests][<%= guest.id %>][name]" value="<%= guest.name %>">
              <span class="name-frd"><%= guest.name %></span>
              <% if guest.editable? %>
                <a href="#" class="edit-name" onClick="editName()">Edit&nbsp;Name</a>
              <% end %>
            </div>

            <%= render partial: 'attendance_radios', locals: { guest: guest } %>

          </div>
        <% end %>
      </div>

      <div class="song">
        <%= f.label :song, 'What song would get you and yours on the dance floor?' %>
        <%= f.text_field :song, placeholder: 'Anything by Miley' %>
      </div>

      <button type="submit" class="btn btn-default">Submit</button>
    <% end %>
  </div>

</div>

<script type="text/javascript">
  function editName(evt) {
    if (!evt) { evt = window.event; }
    evt.preventDefault();
    var hiddenField = evt.target.parentElement.children[0];
    var span = evt.target.parentElement.children[1];
    var oldName = span.textContent;
    var name = prompt("Enter a new name for " + oldName, oldName);
    if (name) {
      hiddenField.value = name;
      span.textContent = name;
    }
  }
</script>
